/* Body */
body {
  font-family: var(--site-font-family);
  font-size: var(--site-font-size);
  color: var(--site-font-color);
  margin: 0;
  padding: 0;
}
/* body *:hover {
  background-color: rgba(255,127,0,0.2);
} */
/* Header */
div.page-header {
  position: fixed;
  width: 100%;
  margin: 0 0 30px 0;
  padding: var(--header-offset) 0 var(--header-offset) 0;
  min-height: 5em;
  background-color: var(--header-background-color);
  transform: skewY(var(--site-skew));
  border-bottom: var(--header-border);
  font-size: var(--header-font-size);
  z-index: 10;
}
div.page-header > header,
div.page-header > nav {
  transform: skewY(calc(var(--site-skew)*-1));
}
div.page-header > header {
  padding: 0.5em 0 0 1em;
}
div.page-header > nav.navbar {
  margin-left: 4em;
  margin-bottom: 0.2em;
}

/* Content */
div.content {
  z-index: 5;
  padding-top: 5em;
}
div.content > section.element {
  min-height: 100vh;
  border-bottom: 2px solid #333;
}

/* Hero Image */
div.content > section.element > div.hero-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  background-attachment: scroll;
  width: 33.33333333333%;
  height: 100vh;
  vertical-align: text-bottom;
  position: relative;
}
div.content > section.element.hero-left > div.hero-image {
  float: left;
}
div.content > section.element.hero-right > div.hero-image {
  float: right;
}
div.content > section.element.hero-solo > div.hero-image {
  /* Full Width Hero Image */
  width: 100%;
}
  /* Hero Description / Alternative Text */
  div.content > section.element > div.hero-image > span.alt {
    margin: 0 0 0 2.5%;
    padding: 0.5em 1em;
    width: 95%;
    border-radius: 1em;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    top: 75%;
    display: none;
    text-align: center;
  }
  div.content > section.element > div.hero-image:hover > span.alt {
    display: block;
  }

/* Content */
  div.content > section.element > h1.element-title {
    margin-top: 1em;
    border-bottom: 1px solid #333;
  }
  div.content > section.element.hero-right > h1.element-title,
  div.content > section.element.hero-left > h1.element-title,
  div.content > section.element.hero-right > div.element-content,
  div.content > section.element.hero-left > div.element-content {
    width: 66.6666%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-attachment: fixed;
    padding: 0 1em;
  }
  div.content > section.element.hero-left > h1.element-title,
  div.content > section.element.hero-left > div.element-content {
      float: right;
  }

  /** Columns */
  div.content > section.element.one-col > div.element-content {
    columns: 1;
  }div.content > section.element.two-col > div.element-content {
    columns: 2;
  }
  div.content > section.element.three-col > div.element-content {
    columns: 3;
  }
/* Special Elements */
a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}